* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  position: relative;
}

.part {
  width: 100%;
}

.part.top {
  background-color: rgb(215, 215, 215);
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.menu.left > a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  border-right: 1px solid black;
}

.menu.left > a:last-child {
  border-right: none;
}

.menu.left a > i {
  margin-left: 5px;
}

.container {
  width: 80%;
  margin: auto;
  height: 80px;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.menu {
  height: 80px;
  /* background-color: blue; */
  margin: auto;
  line-height: 80px;
}

.menu.left {
  float: left;
}

.menu.right {
  float: right;
}

#login, #getfree {
  margin-left: 10px;
  font-size: 0.9em;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 12px 0;
  border-radius: 5px;
  background-color: #454a5c;
  cursor: pointer;
}

.part.bottom {
  background-color: white;
  height: 80px;
  margin-top: 80px;
}

#logo {
  vertical-align: middle;
}

#bar-list {
  list-style: none;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

#bar-list > li {
 display: inline-block;
 height: 100%;

}

.menu.right i {
  margin-left: 10px;
}

#bar-list a {
 text-decoration: none;
 color: black;
 font-size: 15px;
 display: block;
 width: 100%;
 margin: 0 10px;
}


#bar-list > li:hover {
 border-bottom: 3px solid black;
 cursor: pointer;
}

#bar-list > li:hover:nth-child(2) {
 text-decoration: underline;
 cursor: pointer;
 border-bottom: none;
}


.part.jumbotron {
  position: relative;
}

.jumbotron > img {
  width:100%;
}

#text-main {
  width: 40%;
  position: absolute;
  top: 0;
  left: 10%;
  margin-top: 50px;
}

#text-main * {
  margin-bottom: 20px;
  margin-left: 0;
}

#text-main > h1 {
  font-size: 2.6em;
}

.sec {

}

.sec.first {
  background-color: yellow;
  height: 900px;
}

.container-uno {
  background-color: blue;
  width: 80%;
  margin: auto;
  height: 100px;
  text-align: center;
}

.container-due {
  background-color: blue;
  width: 80%;
  margin: 30px auto;
  height: 100px;
}

.container-tre {
  width: 80%;
  margin: 30px auto;
  /* height: 100px; */
}

.container-tre::after {
  display: table;
  clear: both;
  content: "";
}

.side {
  background-color: white;
  height: 450px;
  width: calc(100% / 3 - 4%)
}

.side.left {
  float: left;
  margin-right: 6%;
}


.side.center {
  float: left;
  margin-right: 6%;
}


.side.right {
  float: left;
}

.sec.second {
  background-color: pink;
  height: 700px;
}

.contenitore {
  margin: auto;
  width: 80%;
  height: 80px;
  text-align: center;
  background-color: blue;
}


.sec.third {
  background-color: purple;
  height: 1000px;
}



footer {
  height: 500px;
  background-color: green;
}
