* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #33485B;
}

header {
  width: 100%;
  position: relative;
}

a {
  font-size: 0.8em;
}

.part {
  width: 100%;
}

.part.top {
  background-color: #F4F9FD;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #425B76;
}

.menu.left > a {
  text-decoration: none;
  padding: 0 10px;
  border-right: 1px solid black;
}

.menu.left > a:last-child {
  border-right: none;
}

.menu.left > a:hover {
  text-decoration: underline;
  color: #197A8C;
}

.menu.left > a:hover i {
  color: #197A8C;
}

.menu.left a > i {
  margin-left: 5px;
}

.container {
  width: 80%;
  margin: auto;
  height: 80px;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.menu {
  height: 80px;
  margin: auto;
  line-height: 80px;
}

.menu.left {
  float: left;
}

.menu.right {
  float: right;
}

.menu.right > i {
  color: #74CEDC;
}

#login, #getfree {
  margin-left: 10px;
  font-size: 0.7em;
  border: 1px solid #FA7A59;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#login {
  background-color: white;
  color: #FA7A59;
}

#getfree {
  background-color: #FA7A59;
}

#login:hover, #getfree:hover {
  background-color: #FCBCAC;
}

.part.bottom {
  background-color: white;
  height: 80px;
  margin-top: 80px;
}

#logo {
  vertical-align: middle;
}

#bar-list {
  list-style: none;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

#bar-list > li {
 display: inline-block;
 height: 100%;

}

.menu.right i {
  margin-left: 10px;
}

#bar-list a {
 text-decoration: none;
 font-size: 0.8em;
 margin: 0 10px;
}


#bar-list > li:hover {
 border-bottom: 3px solid #425B76;
 cursor: pointer;
}

#bar-list > li:hover:nth-child(2) {
 text-decoration: underline;
 cursor: pointer;
 border-bottom: none;
}

.part.jumbotron {
  position: relative;
  font-size: 0;
}

.jumbotron > img {
  width:100%;
}

#text-jumbotron {
  width: 40%;
  position: absolute;
  top: 0;
  left: 10%;
  margin-top: 50px;
  height: calc(100% - 50px);
}

#text-jumbotron * {
  margin-bottom: 1.5vw;
  margin-left: 0;
}

#text-jumbotron > h1 {
  font-size: 42px;
}

#text-jumbotron > p {
  font-size: 13px;
  font-weight: 300;
  line-height: 30px;
  width: 97%;
}

#text-jumbotron > #getfree {
  font-weight: 300;
  font-size: 12px;
  padding: 15px 25px;
}

#text-jumbotron > p:last-child {
  font-size: 10px;
  width: 60%;
}

.sec.first {
  background-color: #F5F8FA;
}

.sec.first::after {
  display: table;
  clear: both;
  content: "";
}

#container-uno {
  width: 80%;
  margin: auto;
  text-align: center;
}

#cube {
  width: 20%;
  margin-top: 50px;
}

#conteiner-uno > h2 {
  font-size: 1.9em;
}

#container-uno > p {
  font-size: 1em;
  margin-top: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

#container-due {
  background-color: white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px lightgray;

}

#sinistra {
  text-align: center;
  display: inline-block;
  width: 20%;
}

#sinistra * {
  margin: 20px;
}

#sinistra > #getfree, .side > #getfree, #text-section > #getfree {
  padding: 15px 25px;
}

#sinistra > img {
  width: 65%;
}

#destra * {
  margin-bottom: 20px;
}

#destra {
  display: inline-block;
  width: 70%;
  margin-left: 50px;
}

#destra > h4 {
  display: inline-block;
}

#destra > p {
  width: 80%;
  line-height: 25px;
  font-size: 0.8em;
}

#destra > hr {
  display: inline-block;
  height: 2px;
  background-color: #33485B;
  border: none;
  width: 30vw;
  margin: 5px 30px;
}

#hlist > li {
  display: inline-block;
  margin-right: 20px;
  font-size: 0.8em;
}

#hlist i {
  color: #FA7A59;
  margin-right: 10px;
}

#container-tre {
  width: 80%;
  margin: 30px auto;
}

#container-tre::after {
  display: table;
  clear: both;
  content: "";
}

.side {
  text-align: center;
  background-color: white;
  width: calc(100% / 3 - 4%);
  box-shadow: 0px 0px 5px 0px lightgray;
  padding: 25px;
}

.side * {
  margin-bottom: 20px;
}

.side.left, .side.center {
  float: left;
  margin-right: 6%;
}

.side img {
  height: 88px;
}

.side > p {
  line-height: 25px;
  font-size: 0.8em;
}

.side > hr {
  margin-top: 50px;
}

#vlist > li {
  list-style-type: none;
  text-align: left;
  margin: 0;
}

#vlist i {
  color: #FA7A59;
  margin-right: 10px;
}

.side.right {
  float: left;
}

.sec.second {
  background: linear-gradient(to right, #29AEB4 , #2FBCA7);
}

.contenitore {
  margin: auto;
  width: 80%;
  text-align: center;
  color: white
}

.contenitore.up p:first-child {
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.contenitore.up p:last-child {
  font-size: 0.95em;
  color: white;
  line-height: 30px;
  font-weight: 200;
}

.contenitore.down::after {
  content: "";
  display: table;
  clear: both;
}

.box {
  width: calc(100% / 4 );
  float: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0;
}

.box > h3, .box > p {
  color: white;
}

.box.alto {
  border-top: none;
  margin-top: 100px;
}

.box.basso {
  border-bottom: none;
  margin-bottom: 100px;
}

.box:nth-child(1), .box:nth-child(5) {
  border-left: none;
}
.box:nth-child(4), .box:nth-child(8) {
  border-right: none;
}

.contenitore.down img {
  height: 33px;
}

.box h3 {
  margin: 20px 0;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.box p {
  font-size: 0.7em;
}

.plus {
  color: white;
  font-size: 0.5em;
  font-weight: 200;
  vertical-align: middle;
  margin-left: 4px;
}

.sec.third {
  background-color: white;
  /* position: relative; */
}

#section-third-top {
  margin: auto;
  width: 80%;
  height: 200px;
  position: relative;
}

#section-third-top-left, #section-third-top-right {
  position: absolute;
  margin-top: 30px;
  height: 100%;
}

#section-third-top-left {
  top: 0;
  left: 0;
  width: 15%;
  margin-right: 20%;
  margin-left: 8%;
}

#section-third-top-left > h3 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

#section-third-top-left > p {
  font-size: 0.8em;
  line-height: 30px;
}

#section-third-top-right {
  width: 55%;
  top: 0;
  right: 0;
}

.wrap-logo > img {
  width: 100%;
}

.wrap-logo {
  display: inline-block;
  margin: 10px;
  width: 20%;
  vertical-align: middle;
}

#section-third-bottom {
  margin: auto;
  width: 80%;
  height: 400px;
  position: relative;
}

#section-third-bottom-left {
  top: 0;
  left: 0;
  width: 40%;
}

#section-third-bottom-right {
  top: 0;
  right: 0;
  text-align: center;
  width: 50%;
}

#section-third-bottom-left, #section-third-bottom-right {
  position: absolute;
  margin-top: 50px;
  height: 100%;
}

#section-third-bottom-right {
  text-align: right;
}

#text-section > h3 {
  font-size: 1.7em;
}

#text-section > p {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 30px;
}

#text-section > p:last-child {
  font-size: 0.7em;
}

#text-section * {
  margin-bottom: 20px;
}

 #section-third-bottom-right > img {
   width: 50%;
 }













footer {
  height: 500px;
  background-color: green;
}
