* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #33485B;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  width: 100%;
  position: relative;
}

a, p {
  font-size: 0.8em;
  text-decoration: none;
}

/* HEADER TOP */
.part {
  width: 100%;
}

.centering {
  width: 80%;
  margin: auto;
}

.container {
  height: 80px;
}

.part.top {
  background-color: #F4F9FD;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #425B76;
}

.menu {
  height: 80px;
  margin: auto;
  line-height: 80px;
}

.menu.left > a {
  padding-right: 10px;
  border-right: 1px solid black;
}

.menu.left > a:last-child {
  border-right: none;
  padding-left: 10px;
}

.menu.left > a:hover {
  color: #197A8C;
}

.menu.left > a:hover i {
  color: #197A8C;
}

.menu.left a > i:first-child {
  margin-right: 10px;
  font-size: 1.3em;
}

.menu.left a > i:last-child {
  margin-left: 10px;
}

.menu.left > a:last-child:hover {
  text-decoration: underline;
}

.menu.left {
  float: left;
}

.menu.right {
  float: right;
}

.menu.right > i {
  color: #74CEDC;
}

.menu.right > i:hover {
  cursor: pointer;
}

#login, .getfree {
  margin-left: 10px;
  font-size: 0.7em;
  border: 1px solid #FA7A59;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#login {
  background-color: white;
  color: #FA7A59;
}

.getfree {
  background-color: #FA7A59;
}

#login:hover, .getfree:hover {
  background-color: #FCBCAC;
}
/* /HEADER TOP */

/* HEADER BOTTOM */
.part.bottom {
  background-color: white;
  height: 80px;
  margin-top: 80px;
}

#logo {
  vertical-align: middle;
}

.horiz-list {
  list-style: none;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.horiz-list > li {
 display: inline-block;
 height: 100%;
}

.menu.right i {
  margin-left: 10px;
}

#bar-list a {
 margin: 0 10px;
}

#bar-list > li:hover {
 border-bottom: 3px solid #425B76;
 cursor: pointer;
}

#bar-list > li:hover:nth-child(2) {
 text-decoration: underline;
 cursor: pointer;
 border-bottom: none;
}
/* /HEADER BOTTOM */

/* HEADER JUMBOTRON */
.part.jumbotron {
  position: relative;
  font-size: 0;
}

.jumbotron > img {
  width:100%;
}

#text-jumbotron {
  width: 40%;
  position: absolute;
  top: 0;
  left: 10%;
  margin-top: 50px;
  height: calc(100% - 50px);
}

#text-jumbotron * {
  margin-bottom: 1.5vw;
  margin-left: 0;
}

#text-jumbotron > h1 {
  font-size: 42px;
}

#text-jumbotron > p {
  font-size: 13px;
  font-weight: 300;
  line-height: 30px;
  width: 97%;
}

#text-jumbotron > .getfree {
  font-weight: 300;
  font-size: 12px;
  padding: 15px 25px;
}

#text-jumbotron > p:last-child {
  font-size: 10px;
  width: 60%;
}
/* /HEADER JUMBOTRON */

/* MAIN FIRST SECTION */
.sec.first {
  background-color: #F5F8FA;
}

#container-one {
  text-align: center;
}

#cube {
  width: 20%;
  margin-top: 50px;
}

#conteiner-one > h2 {
  font-size: 1.9em;
}

#container-one > p {
  margin-top: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

#container-two {
  background-color: white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px lightgray;

}

#container-two-left {
  text-align: center;
  display: inline-block;
  width: 20%;
}

#container-two-left * {
  margin: 20px;
}

#container-two-left > .getfree, .side > .getfree, #text-section > .getfree {
  padding: 15px 25px;
}

#container-two-left > img {
  width: 65%;
}

#container-two-right {
  display: inline-block;
  width: 70%;
  margin-left: 50px;
}

#container-two-right * {
  margin-bottom: 20px;
}

#container-two-right > h4 {
  display: inline-block;
}

#container-two-right > p {
  width: 80%;
  line-height: 25px;
}

#container-two-right > hr {
  display: inline-block;
  height: 2px;
  background-color: #33485B;
  border: none;
  width: 30vw;
  margin: 5px 30px;
}

#hlist > li {
  display: inline-block;
  margin-right: 20px;
  font-size: 0.9em;
  /*aggiunto per checkmark senza i font awesome*/
  position: relative;
}

/*check mark senza i font awesome*/
#hlist > li::after {
  content: "\2714";
  color: white;
  position: absolute;
  left: 0.3em;
  top: 5%;
}

#hlist > li::before {
  content: " ";
  display: inline-block;
  margin-right: 10px;
  background-color: #FA7A59;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
/*/check mark senza i font awesome*/


/*container 2 Font Awesome checkmark*/
/* #hlist i {
  color: #FA7A59;
  margin-right: 10px;
} */

#container-three {
  width: 80%;
  margin: 30px auto;
}

.side {
  text-align: center;
  background-color: white;
  width: calc(100% / 3 - 4%);
  box-shadow: 0px 0px 5px 0px lightgray;
  padding: 25px;
}

.side * {
  margin-bottom: 20px;
}

.side.left, .side.center {
  float: left;
  margin-right: 6%;
}

.side img {
  height: 88px;
}

.side > p {
  line-height: 25px;
}

.side > hr {
  margin-top: 50px;
}

.vlist > li {
  list-style-type: none;
  text-align: left;
  margin: 0;
  font-size: 0.8em;
}

.vlist i {
  color: #FA7A59;
  margin-right: 10px;
}

.side.right {
  float: left;
}
/* /MAIN FIRST SECTION */

/* MAIN SECOND SECTION */
.sec.second {
  background: linear-gradient(to right, #29AEB4 , #2FBCA7);
}

.section-container {
  text-align: center;
  color: white
}

.section-container.up p:first-child {
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.section-container.up p:last-child {
  color: white;
  line-height: 30px;
  font-weight: 200;
}

.box {
  width: calc(100% / 4 );
  float: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0;
}

.box > h3, .box > p {
  color: white;
}

.box.up-part {
  border-top: none;
  margin-top: 50px;
}

.box.down-part {
  border-bottom: none;
  margin-bottom: 100px;
}

.box:nth-child(1), .box:nth-child(5) {
  border-left: none;
}
.box:nth-child(4), .box:nth-child(8) {
  border-right: none;
}

.section-container.down img {
  height: 33px;
}

.box h3 {
  margin: 20px 0;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.plus::after {
  content: "+";
  color: white;
  font-size: 0.5em;
  font-weight: 200;
  vertical-align: middle;
  margin-left: 4px;
}
/* /MAIN SECOND SECTION */

/* MAIN THIRD SECTION */
.sec.third {
  background-color: white;
}

#section-third-top {
  height: 200px;
  position: relative;
}

#section-third-top-left, #section-third-top-right {
  position: absolute;
  margin-top: 30px;
  height: 100%;
}

#section-third-top-left {
  top: 0;
  left: 0;
  width: 15%;
  margin-right: 20%;
  margin-left: 8%;
}

#section-third-top-left > h3 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

#section-third-top-left > p {
  line-height: 30px;
  width: 15vw;
}

#section-third-top-right {
  width: 55%;
  top: 0;
  right: 0;
}

.wrap-logo > img {
  width: 100%;
}

.wrap-logo {
  display: inline-block;
  margin: 10px;
  width: 20%;
  vertical-align: middle;
}

#section-third-bottom {
  height: 400px;
  position: relative;
}

#section-third-bottom-left {
  top: 0;
  left: 0;
  width: 40%;
}

#section-third-bottom-right {
  top: 0;
  right: 0;
  text-align: center;
  width: 50%;
}

#section-third-bottom-left, #section-third-bottom-right {
  position: absolute;
  padding-top: 50px;
  height: 100%;
}

#section-third-bottom-right {
  text-align: right;
}

#text-section > h3 {
  font-size: 1.7em;
}

#text-section > p {
  font-weight: 300;
  line-height: 30px;
}

#text-section > p:last-child {
  font-size: 0.7em;
}

#text-section * {
  margin-bottom: 20px;
}

#section-third-bottom-right > img {
  width: 50%;
}
/* /MAIN THIRD SECTION */

/* FOOTER */
footer {
  height: 600px;
  background-color: #2D3E50;
  color: #FDFDFE;
}

.vlist-footer {
  float: left;
  width: calc(100% / 4);
  color: #FDFDFE;
  list-style: none;
  margin-top: 20px;
}

.vlist-footer li > a {
  color: #C7D3DF;
}

.vlist-footer > li {
  margin: 5px 0px;
  padding: 5px 10px;
}

.vlist-footer > li:first-child {
  margin: 30px 0px;
  padding: 10px 10px;
}

.vlist-footer a:hover {
  text-decoration: underline;
}

.vlist-footer li > b {
  color: white;
  font-size: 0.9em;
}

.vlist-footer .getfree {
  margin-left: 0;
  margin-top: 20px;
  background-color: #C7D3DF;
  color: #2D3E50;
  border: 1px solid black;
}

.vlist-footer .getfree:hover {
  background-color: #74CEDC;
}

.vlist-footer i {
  color: #C7D3DF;
  font-size: 1.5em;
  padding: 6px;
}

.vlist-footer i:hover {
  color: #74CEDC;
}

#hlist-footer li > a {
  color: white;
  margin: 0 10px;
}

#hlist-footer li > a:hover {
  color: #74CEDC;
}

#footer-center > hr {
  height: 2px;
  background-color: white;
  border: none;
  width: 80%;
  margin: 5px auto;
}

#footer-bottom {
  margin-top: 20px;
  position: relative;
}

#footer-bottom p {
  color: white;
  font-size: 0.6em;
  font-weight: lighter;
  margin-top: 5px;
}

.foot {
  position: absolute;
  top: 0;
}

.foot.bottom-left {
  left: 0;
}

.foot.bottom-right {
  right: 0;
  text-align: right;
}

.foot.bottom-right > a {
  color: white;
  padding: 0 10px;
}

.foot.bottom-right > a:hover {
  text-decoration: underline;
}

/*BONUS*/

.container-chatting {
  width: 280px;
  height: 250px;
  position: fixed;
  right: 0;
  bottom: 0;
}

#button-chat {
  box-shadow: 0px 0px 5px 0px black;
  background-color: #425B76;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#button-chat > i {
  color: white;
}

#chat {
  box-shadow: 0px 0px 3px 0px lightgray;
  height: 120px;
  width: 240px;
  background-color: white;
  position: absolute;
  top: 35px;
  right: 15px;
  border-radius: 5px;
}

#chat > p {
  padding: 30px 15px;
  width: 80%;
  line-height: 20px;
  font-weight: 500;
}

#chat > img {
  width: 20%;
  position: absolute;
  left: 50%;
  bottom: calc(120px - 48px / 2);
  transform: translateX(-50%);
}

#chat > .close {
  background-color: white;
  border: none;
  font-size: 3em;
  color: lightgray;
  font-weight: 200;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
